html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nave {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

#nave ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

#nave ul li a {
    font-weight: bold;
    display: block;
    color: black;
    justify-content: right;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}

#nave ul li a:hover {
    color: #009bdf;
}

#logo{
    margin-right: 560px;
}

#logoimg{
    height: 90px;
    width: 90px;
    margin-right: -12px;
}

header::before {
    content: "";
    background: url(bg1.png) no-repeat right;
    position: absolute;
    height: 109%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.details{
    display: flex;
}

#intro{
    display: flex;
    flex-direction: column;
    padding-right: 140px;
}

#intro h1{
    font-size: 80px;
    padding-top: 65px;
}

#intro h2{
    font-size: 20px;
}

#intro h3{
    font-size: 35px;
    color: #758398;
}

#intro h5{
    font-size: 17px;
    color: #758398;
}

#sect1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#sect1::before{
    content: "";
    background: rgb(221, 236, 240);
    position: absolute;
    top: 0;
    height: 125vh;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.details h2{
    padding-left: 30px;
}

#sect2{
    display: flex;
    flex-direction: column;
    padding-top: 280px;
    padding-left: 100px;
}

#me1 h2{
    color: #009bdf;
    font-size: 28px;
    padding-bottom: 30px;
}

#me1 p{
    font-size: 35px;
    font-weight: 600;
}

#me2{
    padding-top: 150px;
    display: flex;
    margin-left: 4px;
    padding-bottom: 150px; 
}

#me2 h1{
    font-size: 35px;
    color: #009bdf;
    padding-right: 190px;
}

#me2 p{
   font-size: 20px;
}

#sect3{
    background: rgb(233, 238, 239);
    display: flex;
    flex-direction: column;
}

#unit{
    display: flex;
    align-items: center;
}

#webunit{
    display: flex;
    flex-direction: column;
}

#what{
    padding-left: 100px;
    padding-top: 130px;
}

#do{
    justify-content: center;
    padding-top: 80px;
}

#what h2{
    font-size: 50px;
}

#what p{
    font-size: 17px;
    padding-top: 45px;
}

#webunit{
    padding: 50px 80px;
    padding-bottom: 200px;
}

#webunit p{
    padding-top: 35px;
    padding-left: 73px;
    font-size: 17px;
}

#webunit h2{
    font-size: 22px;
}

.box{
    background: white;
    text-align: right;
    border-radius: 10px;
    height: 20px;
}

#sect4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.8);
    height: 62vh;
    color: white;
}

#background{
    background: url(images/image.jpeg) no-repeat center/cover;
    background-attachment: fixed;
    height: 75vh;
}

#sect4 h1{
    padding-bottom: 30px;
    font-size: 50px;
}

#contain{
    background: #FFFFFF29;
    width: 420px;
    height: 20px;
    border-radius: 10px;
    color: black;
    font-size: 13px;
}

#percentage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #009bdf;
    height: 490px;
    width: 570px;
    margin-left: 110px;
    margin-top: 140px;
}

.perpad{
    padding: 17px 10px;
}

#skills{
    display: flex;
    flex-direction: column;
}

#skills p{
    line-height: 180%;
}

#sect5{
    margin-top: 190px;
    background: white;
}

#sect51{
    margin-top: 115px;
    background: white;
}

#myexp{
    font-size: 50px;
    padding-left: 100px;
}

#years{
    display: flex;
    flex-direction: column;
    margin-top: 122px;
    margin-left: 145px;
    text-align: right;
}

#years1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 110px;
}

#years2{
    display: flex;
    flex-direction: column;
    margin-top: 153px;
    margin-left: 100px;
}

#exp{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#exp p,h4,h3{
    font-size: 17px;
}
#exp h1{
    font-size: 22px;
    color: #009bdf;
    line-height: 105px;
}

#exp h3{
    line-height: 95px;
}

#years2 img{
    height: 20px;
    width: 20px;
}

#midimg{
    padding-top: 143px;
    padding-bottom: 123px;
}

#midimg1{
    padding-top: 109px;
    padding-bottom: 123px;
}

#midyr{
    padding-top: 35px;
    padding-bottom: 35px;
}

#sect6{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 100px;
}

#sect6 img{
    height: 28px;
    width: 28px;
    margin-top: 11px;
}

#ex3 {
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-items: center;
    text-align: center;
    margin-left: 10px;
}

#logos1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#ex3:hover{
    background: #009bdf;
}

#get{
    margin-left: -70px;
}

#get h1{
    padding-top: 30px;
    font-size: 80px;
}

#services{
    padding-left: 550px;
}

#services ul li{
    list-style: none;
    padding-top: 15px;
    color: #758398;
}

#sect7 h6{
    text-align: center;
    color: #758398;
    padding: 18px 18px;
    font-size: 17px;
}

#csect1{
    background: white;
    margin-top: 100px;
}

#formsect{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 150px;
}

#form{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

#form label{
    font-size: 17px;
    color: #758398;
    font-weight: 800;
}

#name input{
    font-size: 22px;
    padding: 12.75px;
}

#email input{
    width: 570px;
    font-size: 22px;
    padding: 12.75px;
}

textarea{
    width: 570px;
    height: 120px;
    font-size: 22px;
    padding: 12.75px;
}

span{
    color: red;
}

#btn1{
    background: #009bdf;
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 15px;
    border: 2px solid #009bdf;
}

#send{
    padding-top: 20px;
}

#send h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 15px;
}

#send p{
    font-size: 17px;
    color:#758398;
    line-height: 30px;
}

.sect5wala{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    
}

.sect5padding{
    padding: 50px;
    line-height: 25px;
}

.sect5wala p{
    width: 800px; 
    overflow-wrap: break-word;
}

.sect5wala h1{
    color: #009bdf;
}

.sectwala1{
    display: flex;
    align-items: center;
    justify-content: center;
}
