html{
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #009bdf;
    color: #fff;
    padding: 5px 55px;
    z-index: 999;
    position: sticky;
    top: 0;
    bottom: 0;
}

header .logo {
    display: flex;
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

section {
    padding: 2rem 12rem;
    margin: 0 auto;
}

h1 {
    color: #009bdf;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    color: #009bdf;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: 2px solid #009bdf;
    border-radius: 5px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #009bdf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background: #009bdf;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

#about{
    background: rgb(233, 238, 239);
}

#about h1{
    font-size: 32px;
}

#about p{
    font-size: 19px;
    font-weight: 600;
}

#start{
    display: flex;
    justify-content: space-between;
}

.line{
    height: 45px;
    width: 70px;
    margin-top: -100px;
}

#start h1{
    font-size: 50px;
    color: #000;
}

#start h3{
    margin-top: -30px;
    color: #758398;
}

#profile-img{
    width: 400px;
    height: 400px;
    border-radius: 260px;
}

#start h2 a{
    text-decoration: none;
    color: #009bdf;
}

#start h2{
    margin-top: 70px;
}

#projects,
#certifications{
    background-color: rgb(233, 238, 239);
}

#languages{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

#languages img{
    padding: 0 10px;
    height: 100px;
    width: 100px;
}

#internship h1,
#projects h1,
#tech h1,
#certifications h1{
    font-size: 32px;
}

#internship h2,h2 a,
#projects h2,h2 a,
#certifications h2,h2 a{
    color: #00415c;
    text-decoration: none;
}

#tech{
    padding-bottom: 100px; 
}


/* Responsive Styles */
@media (max-width:1024px){
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #009bdf;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        text-align: center;
        padding: 50px;
        padding-top: 5rem;
    }

    nav ul li {
        margin: 1rem 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    section {
        padding: 3rem;
        margin: 0 auto;
    }

    #start{
        display: flex;
    }

    #profile-img{
        width: 300px;
        height: 300px;
        border-radius: 260px;
        padding-bottom: 10px;
    }

    #start h1{
        font-size: 40px;
    }

    #languages{
        flex-wrap: wrap;
        padding-top: 15px;
        justify-content: flex-start;
    }

    #languages img{
        padding: 20px 20px;
    }

    #tech h1{
        font-size: 25px;
    }
}


@media (max-width: 477px) {
    header{
        padding: 5px 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #009bdf;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        text-align: center;
        padding: 40px;
        padding-top: 5rem;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    section {
        padding: 3rem;
        margin: 0 auto;
    }

    #start{
        display: flex;
        flex-direction: column-reverse;
    }

    #profile-img{
        width: 300px;
        height: 300px;
        border-radius: 260px;
        padding-bottom: 10px;
    }

    #start h1{
        font-size: 40px;
    }

    #languages{
        flex-wrap: wrap;
        padding-top: 15px;
        justify-content: flex-start;
    }

    #languages img{
        padding: 20px 20px;
    }

    #tech h1{
        font-size: 25px;
    }
}
